<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.roly.nfc.crypto"
          android:versionCode="10"
          android:versionName="2.0.1" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
            android:name="android.hardware.nfc"
            android:required="true" />

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme">
        <activity
                android:name=".ui.activity.MainActivity_"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EditNoteActivity_" >
        </activity>
        <activity android:name=".ui.activity.NoteListActivity_" >
        </activity>

        <provider
                android:name=".data.NoteProvider"
                android:authorities="com.roly.nfc.crypto.noteprovider" >
        </provider>

        <activity android:name=".ui.activity.PreferencesActivity" >
        </activity>
        <activity android:name=".ui.activity.DecipheredNoteActivity" >
        </activity>
    </application>

</manifest>